# Build folders
/out/
/bin/
/lib/

# Visual Studio
*.vcxproj*
*.sln
*.user
*.obj
*.pdb
*.log
.vs/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# DLLs and executables
*.dll
*.exe

# Libraries
/libtorch/
/opencv/

# Weights
/application_project/weights/working.pth
/application_project/weights/lenet_inference.pth
/application_project/weights/resnet18_inference.pth

# OS junk
.DS_Store
Thumbs.db

# TODO
/application_project/augmentations
